* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Questrial", sans-serif;
}

.container {
    width: 85%;
    margin: 0 auto;
}


.btn-touch {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    background-color: #161616;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 11;
    padding: 22px 40px;
    overflow: hidden;

    &.btn-bg {
        color: #000 !important;
        background-color: transparent !important;

        span {
            display: flex;
            gap: 12px;
            justify-content: space-between;
            align-items: center;
        }

        &:hover {
            .touch-2 {
                transform: translateY(0px);
            }
        }

    }

    &:hover {
        background: #FFCC7E;
        color: black;


        .touch-2 {
            transform: translateY(-15px);
        }

        .touch-1 {
            transform: translateY(-100px);
        }
    }

    .touch-1 {
        display: block;
        transition: .4s ease-in-out;
    }

    .touch-2 {
        display: block;
        position: absolute;
        transform: translateY(100px);
        transition: .4s ease-in-out;
    }
}

//start header
.header {
    width: 100%;
    padding: 27px 0;

    .allHeader {
        // margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
            ul {
                display: flex;
                align-items: center;
                list-style: none;
                gap: 50px;

                li {
                    &:hover {
                        i {
                            transform: rotate(180deg);
                        }
                    }

                    a {
                        text-decoration: none;
                        display: block;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 32px;
                        color: #161616;
                    }
                }

                .firstLink {
                    color: blue;
                }
            }

            i {
                font-size: 10px;
                transition: .4s;

            }
        }

    }
}

//end header


//start creativeAgency
.creativeAgency {
    background-image: url(images/creative-agency/bg.jpg);
    position: relative;
    padding-top: 5rem;
    background-repeat: no-repeat;
    background-position: center;

    .allContent {
        display: flex;
        align-items: center;
        padding-top: 3rem;

        .leftAgency {
            width: 55%;

            .first {
                border-radius: 8px;
                background: #E6EFFF;
                font-family: "Outfit", sans-serif;
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                display: inline-block;
                padding: 6px 12px;
                color: #015DFF;
            }

            h1 {
                margin-top: 1rem;
                font-size: 67px;
                line-height: 74px;
                font-weight: 600;
                color: black;
            }

            .underline {
                position: absolute;
                left: 230px;
                bottom: 60px;
            }

            .und {
                position: relative;
            }

            .nemo {
                line-height: 20px;
                font-size: 18px;
                width: 65%;
                color: #474747;
            }

            .allBtn {
                margin-top: 3rem;
                display: flex;
                gap: 24px;

                .btn-bg {
                    padding: 0;

                    .iconPlay {
                        background: #BDEFFB;
                        border-radius: 50px;
                        padding: 20px;
                    }

                }
            }
        }

        .rightAgency {
            width: 45%;

            img {
                width: 100%;
            }
        }
    }

    .profits {
        padding: 24px 20px;
        background-color: #ffffff;
        border-radius: 16px;
        display: flex;
        align-items: center;
        gap: 16px;
        position: absolute;
        top: 0;
        right: 0;
        right: 80px;
        top: 90px;

        .icon {
            width: 55px;
            height: 55px;
            border-radius: 50px;
            background-color: #BDEFFB;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .content {
            span {
                margin-bottom: 2px;
                color: #6B6B76;
                font-family: "Questrial", sans-serif;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 23px;
            }

            h5 {
                font-size: 24px;
            }
        }
    }

    .imgStatic {
        position: absolute;
        bottom: 15px;
        right: 400px;
    }

    .btn-touch {
        color: #000;
        background: #FFCC7E;

        &:hover {
            color: #fff;
            background: #000;
        }

        .btn-bg {
            &:hover {
                color: #000;
            }
        }
    }
}

//end creativeAgency


//start ourServices
.ourServices {
    margin-top: 6rem;

    .allContent {
        .topContent {
            width: 50%;
            margin: 0 auto;
            text-align: center;

            .our {
                border-radius: 8px;
                font-family: "Outfit", sans-serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 28px;
                display: inline-block;
                padding: 6px 12px;
                color: #015DFF;
                background-color: #E6EFFF;
            }

            .bottomContent {
                margin-top: 1rem;
                position: relative;

                span {
                    color: #161616;
                    font-family: "Outfit", sans-serif;
                    font-size: 50px;
                    font-weight: 500;
                    line-height: 60px;
                    letter-spacing: -1px;
                }

                .underline {
                    position: absolute;
                    right: 0;
                    top: 55px;
                }
            }
        }

        .items {
            display: flex;
            gap: 24px;
            margin-top: 7rem;

            .item {
                text-align: center;
                width: 33%;
                background-color: #ffffff;
                border-radius: 16px;
                justify-content: center;
                align-items: center;
                padding: 32px;
                position: relative;
                box-shadow: 0px 24px 64px 0px rgba(199, 206, 218, 0.25);
                gap: 32px;
                overflow: hidden;

                &:hover {
                    .icon {
                        i {
                            transform: rotateY(360deg);
                            transition: .4s ease-in-out;

                        }

                    }
                }

                .icon {

                    i {
                        background: #BDEFFB;
                        padding: 20px;
                        border-radius: 50%;
                        margin-bottom: 2rem;
                        transform: rotateY(0deg);

                    }

                    .fa-bolt {
                        background: #FFCC7E;
                    }

                    .fa-fan {
                        background: #FFE3EE;
                    }
                }

                .title {
                    a {
                        text-decoration: none;
                        font-family: "Outfit", sans-serif;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 34px;
                        color: #161616;
                        margin-bottom: 0;
                    }

                    h2 {
                        margin-bottom: 2rem;
                    }

                    p {
                        font-size: 18px;
                        line-height: 32px;

                    }
                }
            }
        }
    }

}

//end ourservices

// start approx
.approx {
    text-align: center;
    margin: 0 auto;
    margin-top: 7rem;
    position: relative;

    p {
        span {
            color: #015DFF;
        }
    }

    &::after {
        content: " ";
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        height: 1px;
        background-color: #e7e7e7;
    }

    p {
        padding: 10px 150px;
        border: 1px solid #E7E7E7;
        border-radius: 50px;
        z-index: 3;
        background: #ffffff;
        margin: 0;
        font-family: "Questrial", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        color: #474747;
        width: 70%;
        margin: auto;
        position: relative;
        z-index: 2;
    }
}

//end approx

// start about us 
.aboutUs {
    margin-top: 14rem;

    .allContent {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 100px;

        .left {
            width: 40%;
            background-image: url(images/about-us/bg-1.png);
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            height: 500px;
            border-radius: 30px;

            .aboutImg {
                position: absolute;
                left: 0;
                bottom: 0;
            }

            .teamMembers {
                position: absolute;
                width: 50%;
                height: 40%;
                bottom: 50px;
                left: 0;
                background-color: #ffffff;
                border-radius: 16px;
                padding: 24px;
                box-shadow: 0px 24px 64px 0px rgba(199, 206, 218, 0.25);
                flex-direction: column;
                transform: translate(-30%, 0);
                animation-name: team-members;
                animation-duration: 4s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;


                .users {
                    display: flex;


                    img {
                        border-radius: 50%;
                        width: 55px;
                        border: 2px solid #fff;

                        &:not(:first-child) {
                            margin-left: -16px;
                        }
                    }

                    span {
                        border-radius: 100%;
                        background: #FFCC7E;
                        padding: 15px;
                        border: 2px solid #fff;
                        margin-left: -16px;
                        align-items: center;
                        font-weight: 600;
                        font-size: 20px;
                    }
                }

                h5 {
                    font-size: 24px;
                    line-height: 34px;
                    font-weight: 600;
                }
            }
        }

        .right {
            width: calc(60% - 100px);

            .topContent {
                margin: 0 auto;
                width: 90%;

                .our {
                    border-radius: 8px;
                    font-family: "Outfit", sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 28px;
                    display: inline-block;
                    padding: 6px 12px;
                    color: #015DFF;
                    background-color: #E6EFFF;
                }

                .bottomContent {
                    margin-top: 1rem;
                    position: relative;

                    span {
                        color: #161616;
                        font-family: "Outfit", sans-serif;
                        font-size: 50px;
                        font-weight: 500;
                        line-height: 60px;
                        letter-spacing: -1px;
                    }

                    .underline {
                        position: absolute;
                        right: 200px;
                        top: 55px;
                    }

                    p {
                        font-size: 18px;
                        font-weight: 400;
                        font-family: "Questrial", sans-serif;
                        color: #474747;
                        margin-bottom: 0;
                        margin-top: 14px;
                        line-height: 32px;
                    }
                }
            }

            .bottomInfo {
                margin: 0 auto;
                width: 90%;
                margin-top: 2rem;
                display: flex;
                gap: 50px;

                .content {
                    width: 40%;

                    &:hover {
                        .icon {
                            i {
                                transform: rotateY(360deg);
                                transition: .4s ease-in-out;
                            }
                        }
                    }

                    .icon {
                        width: 64px;
                        height: 64px;
                        display: flex;
                        flex-shrink: 0;
                        border-radius: 50px;
                        align-items: center;
                        justify-content: center;


                        i {
                            transform: rotateY(0deg);

                            &.fa-mug-hot {
                                background: #BDEFFB;
                                padding: 20px;
                                border-radius: 50%;

                            }

                            &.fa-lightbulb {
                                background: #FFCC7E;
                                padding: 20px 24px;
                                border-radius: 50%;
                            }
                        }

                    }

                    .title {
                        h2 {
                            margin-top: 1rem;

                            a {
                                text-decoration: none;
                                font-weight: 500;
                                font-size: 24px;
                                line-height: 34px;
                                color: #161616;

                            }
                        }

                        p {
                            font-size: 16px;
                            line-height: 27px;
                            font-weight: 400;
                            color: #474747;
                            margin-top: 1rem;
                        }
                    }
                }
            }
        }
    }
}

// end about us



// start portfolio
.portfolio {
    background: #FBF8EE;
    margin-top: 6rem;

    .allPortfolio {
        padding: 100px 0;

        .topPortfolio {
            margin-top: 1rem;
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .left {
                width: 60%;

                h2 {
                    .first {
                        border-radius: 8px;
                        background: #E6EFFF;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 28px;
                        display: block;
                        padding: 6px 12px;
                        color: #015DFF;
                        width: 100px;
                    }

                    .second {
                        color: #161616;
                        font-size: 50px;
                        font-weight: 600;
                        line-height: 60px;
                        letter-spacing: -1px;
                    }
                }

                .underline {
                    position: absolute;
                    right: 200px;
                    left: 250px;
                    bottom: -5px;
                    width: 100px;
                }
            }
        }

        .right {

            i {
                border-radius: 100%;
                background: #fff;
                padding: 20px;
                font-size: 20px;
                margin-left: 16px;
                box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
                transition: .9s;

                &:hover {
                    background: #FFCC7E;
                }
            }
        }

        .items {
            margin-top: 4rem;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;


            .item {
                position: relative;
                width: calc(33.333% - 30px);

                &:hover {
                    .overlay {
                        opacity: 1;

                        .icon {
                            transform: translate(-50%, -50%) scale(1);
                        }

                        .text {
                            transform: translateY(0);
                        }
                    }
                }



                img {
                    width: 100%;
                    border-radius: 20px;
                    vertical-align: middle;
                }

                .overlay {
                    background: #4443435a;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    opacity: 0;
                    transition: .4s ease-in-out;
                    overflow: hidden;




                    .icon {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%) scale(0);
                        transition: .4s;

                        i {
                            padding: 30px;
                            background: #fff;
                            border-radius: 50%;
                            font-size: 30px;
                            transition: .5s;
                            color: #000;


                            &:hover {
                                background: #FFCC7E;
                            }
                        }
                    }

                    .text {
                        position: absolute;
                        bottom: 30px;
                        left: 30px;
                        color: #fff;
                        font-size: 30px;
                        font-weight: 600;
                        transform: translateY(70px);
                        transition: .5s;
                    }
                }
            }
        }
    }
}

// end portfolio


// start testimonial
.testimonial {
    padding-top: 7rem;
    background-image: url(images/our-faq/faq-bg.png);
    background-color: #ECF2FF;
    background-repeat: no-repeat;
    background-position: center;

    .allTest {
        .topTest {
            margin: 0 auto;
            text-align: center;

            .our {
                border-radius: 8px;
                font-family: "Outfit", sans-serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 28px;
                display: inline-block;
                padding: 6px 12px;
                color: #015DFF;
                background-color: #E6EFFF;
            }

            .bottomContent {
                margin-top: 1rem;
                position: relative;

                span {
                    color: #161616;
                    font-family: "Outfit", sans-serif;
                    font-size: 50px;
                    font-weight: 600;
                    line-height: 60px;
                    letter-spacing: -1px;
                }

                .underline {
                    position: absolute;
                    right: 47%;
                    top: 55px;
                    width: 9%;
                }

                .pTag {
                    margin-top: 4rem;
                    font-size: 18px;
                }

                .imgQuote {
                    margin-top: 2rem;
                }

                .pTag2 {
                    margin-top: 2rem;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 34px;
                    color: #2d2d2d;
                }
            }
        }

        .personContent {
            img {
                border-radius: 50%;
            }

            text-align: center;
            display: flex;
            margin-top: 2rem;
            gap: 12px;
            align-items: center;
            justify-content: center;

            h5 {
                font-size: 24px;
                line-height: 34px;
                font-weight: 600;
            }

            p {
                font-size: 18px;
            }
        }

        .companies {
            margin-top: 6rem;
            display: flex;
            align-items: center;
            position: relative;
            // gap: 12px;
            justify-content: space-between;
            flex-wrap: wrap;

            .company-item {
                width: calc(20% - 12px);
                overflow: hidden;
                position: relative;

                .imgOverlay {
                    transform: translateY(100px);
                    transition: .5s ease-in-out;
                    position: absolute;
                    left: 0;
                }

                .first-img {
                    transform: translateY(0px);
                    transition: .5s ease-in-out;
                }

                &:hover {
                    .imgOverlay {
                        transform: translateY(0);
                    }

                    .first-img {
                        transform: translateY(-100px);
                    }
                }

            }
        }
    }
}

//end testimonial

//start elementor
.elementor {
    background-color: #FBF8EE;
    padding-top: 8rem;
    position: relative;

    .allElementor {
        display: flex;
        align-items: center;
        margin: 0 auto;
        gap: 100px;
        height: 100vh;

        .left {
            background-image: url(images/elementor/bg.jpg);
            background-position: center;
            border-radius: 20px;
            width: 50%;

            img {
                width: 100%;
            }
        }

        .right {
            width: 50%;

            .topContent {
                margin: 0 auto;

                .our {
                    border-radius: 8px;
                    font-family: "Outfit", sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 28px;
                    display: inline-block;
                    padding: 6px 12px;
                    color: #015DFF;
                    background-color: #E6EFFF;
                }

                .bottomContent {
                    margin-top: 1rem;
                    position: relative;

                    span {
                        color: #161616;
                        font-size: 50px;
                        font-weight: 500;
                        line-height: 60px;
                        letter-spacing: -1px;
                    }

                    .underline {
                        position: absolute;
                        right: 150px;
                        top: 55px;
                        width: 20%;
                    }

                    p {
                        font-size: 18px;
                        font-weight: 400;
                        font-family: "Questrial", sans-serif;
                        color: #474747;
                        margin-bottom: 0;
                        margin-top: 14px;
                        line-height: 32px;
                    }
                }
            }

            .centerContent {
                margin-top: 1rem;
                align-items: center;
                display: flex;
                gap: 150px;

                h2 {
                    font-size: 40px;
                }

                .pTag {
                    margin-top: 1rem;
                    color: #474747;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 180%;
                }
            }

            .btnContent {
                margin-top: 2rem;

                .btn-touch {
                    color: #000;
                    background: #FFCC7E;

                    &:hover {
                        color: #fff;
                        background: #000;
                    }

                    .btn-bg {
                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    .imgAnimation {
        position: absolute;
        top: 30%;
        left: 40%;
        animation-name: team-members;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

//end elementor

//start our blogs
.ourBlogs {
    margin-top: 6rem;

    .allContent {
        .topContent {
            margin: 0 auto;
            text-align: center;
            width: 50%;

            .our {
                border-radius: 8px;
                font-family: "Outfit", sans-serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 28px;
                display: inline-block;
                padding: 6px 12px;
                color: #015DFF;
                background-color: #E6EFFF;
            }

            .bottomContent {
                margin-top: 1rem;
                position: relative;

                span {
                    color: #161616;
                    font-family: "Outfit", sans-serif;
                    font-size: 50px;
                    font-weight: 600;
                    line-height: 60px;
                    letter-spacing: -1px;
                }

                .underline {
                    position: absolute;
                    right: 30%;
                    top: 55px;
                    width: 24%;
                }

                .pTag {
                    margin-top: 2rem;
                    font-size: 18px;
                    font-size: 18px;
                    font-weight: 400;
                    color: #474747;
                    margin-bottom: 0;
                    line-height: 32px;
                }

                .imgQuote {
                    margin-top: 2rem;
                }
            }
        }

        .items {

            margin-top: 3rem;
            display: flex;
            gap: 24px;

            .item {
                &:hover {
                    .imageContent {
                        img {
                            transform: scale(1.1);

                        }

                    }
                }

                overflow: hidden;
                width: 33.333%;

                .imageContent {
                    border-radius: 20px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        border-radius: 20px;
                        transform: scale(1);
                        transition: .3s ease-in;
                    }

                }

                .infoContent {
                    // padding: 4px 12px;
                    border-radius: 8px;
                    background: #FFF0D8;
                    font-family: "Outfit", sans-serif;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 140%;
                    display: inline-block;
                    margin-top: 1rem;

                    a {
                        text-decoration: none;
                        color: #161616;
                        padding: 4px 12px;
                        border-radius: 8px;
                        transition: .4s;


                        &:hover {
                            background: #161616;
                            color: #fff;
                        }
                    }
                }

                .title {
                    font-size: 28px;
                    line-height: 36px;
                    font-weight: 500;
                    margin-top: 1rem;
                    border-bottom: 1px solid #6666664f;
                    padding-bottom: 1rem;

                    a {
                        text-decoration: none;
                        color: #000;
                        transition: .3s ease-in;

                        &:hover {
                            color: #FFCC7E;
                        }
                    }
                }

                .postMeta {
                    margin-top: 1rem;
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    span {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 32px;
                        margin: 0;
                        color: #474747;
                        display: flex;
                        align-items: center;
                        gap: 8px;

                    }

                    .time {
                        i {
                            font-size: 10px;
                        }
                    }

                    span {
                        &:hover {
                            color: #015DFF;
                        }
                    }
                }
            }
        }
    }
}

//end our blogs

//start ourfag
.ourFag {
    padding-top: 8rem;
    background-image: url(images/our-faq/faq-bg.png);
    background-color: #ECF2FF;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 8rem;


    .allContent {

        .topTest {
            margin: 0 auto;
            text-align: center;


            .our {
                border-radius: 8px;
                font-family: "Outfit", sans-serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 28px;
                display: inline-block;
                padding: 6px 12px;
                color: #015DFF;
                background-color: #E6EFFF;
            }

            .bottomContent {
                margin-top: 1rem;
                position: relative;

                span {
                    color: #161616;
                    font-family: "Outfit", sans-serif;
                    font-size: 50px;
                    font-weight: 600;
                    line-height: 60px;
                    letter-spacing: -1px;
                }

                .underline {
                    position: absolute;
                    right: 28%;
                    top: 55px;
                    width: 10%;
                }

                .pTag {
                    margin-top: 2rem;
                    font-size: 18px;
                }

                .imgQuote {
                    margin-top: 2rem;
                }

                .pTag2 {
                    margin-top: 2rem;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 34px;
                    color: #2d2d2d;
                }
            }
        }

        .allModals {
            padding-bottom: 4rem;
            display: flex;
            gap: 24px;

            .modals {
                padding-top: 3rem;
                margin: 0 auto;
                align-items: center;



                .modal {
                    align-items: center;
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 2rem;

                    button {
                        border-radius: 12px;
                        padding: 28px;
                        font-size: 20px;
                        font-weight: 500;
                        cursor: pointer;
                        background: #fff;
                        line-height: 28px;
                        border: none;
                        color: #474747;
                        box-shadow: 0px 20px 40px 0px rgba(199, 206, 218, 0.2);
                        // gap: 0 20px;
                        width: 100%;
                    }
                }
            }

        }
    }
}

//end ourfag


//start subscribe
.subscribe {
    align-items: center;
    margin-top: 6rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images/subscribe-form/subscribe-bg.png);


    .allSubscribe {
        text-align: center;
        justify-content: center;
        padding: 4rem 0;



        .top {
            span {
                color: #161616;
                font-family: "Outfit", sans-serif;
                font-size: 50px;
                font-weight: 600;
                line-height: 60px;
                letter-spacing: -1px;

            }

            .pTags {
                font-size: 18px;
                font-weight: 400;
                color: #474747;
                margin-bottom: 0;
                margin-top: 14px;
                line-height: 32px;
            }
        }

        .subscribeInput {
            position: relative;
            width: 50%;
            margin: 0 auto;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            input {
                position: absolute;
                display: inline-block;
                text-decoration: none;
                color: #000;
                border-radius: 50px;
                background-color: #fff;
                font-size: 16px;
                font-weight: 500;
                border: none;
                cursor: pointer;
                position: relative;
                z-index: 11;
                padding: 22px 40px;
                width: 100%;
                outline: none;
            }

            .btn-touch {
                position: absolute;
                right: 5px;
                top: 5px;
                bottom: 5px;

                &:hover {
                    background: #000;
                    color: #fff;
                }

            }
        }
    }
}

//end subscribe


// start footer
.footer {
    width: 100%;
    background: #161616;
    align-items: center;
    padding: 4rem 0;
    color: #fff;
    margin: 0 auto;
    justify-content: space-around;

    .allFooter {
        border-bottom: 1px solid #eeeeee50;
        padding-bottom: 4rem;
        display: flex;
        align-items: center;
        gap: 100px;

        .contacts_info {
            display: flex;
            gap: 50px;
        }

        .footerLogo {
            // width: 25%;

            p {
                color: #c7cdda;
                margin-top: 30px;
                font-size: 20px;
                display: block;
            }

            .socialProfile {
                display: flex;
                gap: 12px;

                a {
                    i {
                        border-radius: 50px;
                        border: 2px solid #FFCC7E;
                        padding: 10px;
                        margin-top: 2rem;
                        color: #FFCC7E;
                        font-size: 20px;
                        transition: .4s;

                        &:hover {
                            color: #000;
                            background: #FFCC7E;
                        }
                    }
                }
            }
        }

        ul {
            margin-top: 50px;

            li {
                list-style: none;
                margin-bottom: 20px;

                a {
                    color: #fff;

                }
            }

        }

        .contactInfo {
            h2 {
                margin-bottom: 2rem;
            }

            .allContact {
                margin-bottom: 2rem;
                display: flex;
                align-items: center;
                gap: 12px;
            }
        }

        .recentPosts {
            margin-top: 2.5rem;

            .flexesItems {
                display: flex;
                align-items: center;
                gap: 14px;
                margin-top: 0;

                .postTitle {
                    margin-top: 3rem;

                    a {
                        color: #fff;
                        font-size: 12px;
                    }
                }
            }

            ul {
                li {
                    a {
                        img {
                            width: 60px;
                            border-radius: 10px;
                        }

                    }
                }
            }
        }

    }

    .copyright {
        padding: 0.5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        .footerBootomMenu {
            a {
                color: #fff;
                transition: .4s;

                &:hover {
                    color: #FFCC7E;
                    ;
                }
            }
        }
    }
}

//end footer





@keyframes team-members {
    0% {
        transform: translate(-30%, 5%);
    }


    25% {
        transform: translate(-30%, 20%);

    }

    50% {
        transform: translate(-30%, 22%);

    }

    100% {
        transform: translate(-30%, 5%);
    }
}